<!-- app/views/questions/_choices.html.erb -->

<ul id="choices-container">
  <% choices.each do |choice| %>
    <li>
      <%= form_with(url: documents_path, method: :post) do |form| %>
        <%= form.hidden_field :choice_id, value: choice.id %>
        <%= form.button type: 'submit', value: choice.id do %>
          <%= choice.body %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
