<footer class="container-fluid mt-5 text-center" style="background-color: #FFCF96;">
  <div class="row">
    <ul class="nav justify-content-center py-5 w-100">
      <li class="nav-item">
        <a class="nav-link text-dark" href="privacy_path">利用規約</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="privacy_path">プライバシーポリシー</a>
      </li>	 
    </ul>
  </div>
  <p>&copy; 2024 Yuuki Mochi.</p>
</footer>