<head>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          height: '500px',
          aspectRatio: 1,
          locale: 'ja',
          editable: true, // イベントを編集可能にする
          events: [
            {
              title: '介護福祉士試験（筆記）',
              start: '2024-01-28'
            },
            {
              title: '提出書類受付期間',
              start: '2024-08-09',
              end: '2024-09-08'
            },
            {
              title: '介護福祉士試験（実技）',
              start: '2024-03-03'
            }
          ]
        });
        calendar.render();

      });
    </script>
</head>
<div class="container-fluid mt-4" style="padding-left: 40px; padding-right: 40px;">
    <div class="row">
        <!-- Left Column: Event Form and Event List -->
        <div class="col-md-3">
            <div id="event-form">
                <%= render 'form' %>
            </div>
            <div id="event-list" class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title"><%= t('events.list_title') %></h5>
                    <ul class="list-group">
                        <% @events.each do |event| %>
                            <li class="list-group-item">
                                <%= event.title %>
                                <br>
                                <%= event.start_datetime.strftime(t('events.date_format')) %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Right Column: Full Calendar -->
        <div class="col-md-9" style="background-color: rgba(255, 255, 255, 0.8);">
          <div id="calendar" class="mx-auto" style="width: 90%; height: 90%;"></div>
        </div>
    </div>
</div>
