<head>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          height: '500px',
          aspectRatio: 1,
          locale: 'ja',
          editable: true, // イベントを編集可能にする
          events: '/events/get_upcoming_events', // カレンダーに表示するイベントを取得するエンドポイント
          events: [
            {
              title: '介護福祉士試験（筆記）',
              start: '2024-01-28'
            },
            {
              title: '提出書類受付期間',
              start: '2024-08-09',
              end: '2024-09-08'
            },
            {
              title: '介護福祉士試験（実技）',
              start: '2024-03-03'
            }
          ]
        });
        calendar.render();
        document.getElementById('new_event_form').addEventListener('submit', function(event) {
    event.preventDefault();
    var form = this;
    var formData = new FormData(form);
    
    fetch(form.action, {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
      }
    })
    .then(response => response.json())
    .then(eventData => {
      // 新しいイベントをFullCalendarに追加する
      calendar.addEvent({
        id: eventData.id,
        title: eventData.title,
        start: eventData.start_datetime,
        // 必要に応じて他のイベントプロパティを追加する
      });
      form.reset();
    })
    .catch(error => console.error('Error:', error));
  });
});

    </script>
</head>
<div class="container-fluid mt-4" style="padding-left: 40px; padding-right: 40px;">
    <div class="row">
        <!-- Left Column: Event Form and Event List -->
        <div class="col-md-3">
            <div id="event-form">
                <%= render 'form' %>
            </div>
            <div id="event-list" class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title"><%= t('events.list_title') %></h5>
                    <ul class="list-group">
                        <% @events.each do |event| %>
                            <li class="list-group-item">
                                <%= event.title %>
                                <br>
                                <%= event.start_datetime.strftime(t('events.date_format')) %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Right Column: Full Calendar -->
        <div class="col-md-9" style="background-color: rgba(255, 255, 255, 0.8); padding-bottom: 40px;">
          <div id="calendar" class="mx-auto" style="width: 90%; height: 90%;"></div>
        </div>
    </div>
</div>
