<!-- views/past_exams/explanation.html.erb -->

<h1><%= @is_correct %></h1>
<p><%= @explanation %></p>
<% if @is_correct %>
  <p>正解だよ！</p>
<% else %>
  <p>残念。不正解だよ</p>
<% end %>

<%= link_to '次へ', next_question_past_exam_path(@past_exam), class: 'btn btn-primary' %>
