<div class=past_index>
  <h1>介護福祉士試験を始めるよ！</h1>
  

  <!-- 説明文 -->
  <p>これから過去の試験を始めます。準備ができたらスタートボタンを押してください。</p>

  <!-- 過去のスコア表示 -->
  <h2>過去問の結果（履歴）</h2>
  <% if user_signed_in? %>
    <p>前回の結果:  <%= @user_past_score %></p>
  <% end %>

  <%= link_to 'スタート', past_exam_path(@past_exam), class: 'btn_09', id: 'start-button' %>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // スタートボタンがクリックされたときの処理
    document.getElementById('start-button').addEventListener('click', function() {
      // リセット処理を行うAjaxリクエスト
      fetch('<%= reset_score_user_path(current_user) %>', {
        method: 'POST',
        headers: {
          'X-CSRF-Token': '<%= form_authenticity_token %>',
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          // リセットが成功したらアラートを表示
          alert('始めるよ！');
        } else {
          // リセットが失敗したらエラーアラートを表示
          alert('Failed to reset score.');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
  });
</script>