<style>
  /* センター寄せ */
  p {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px; /* 必要に応じてサイズを調整 */
  }
</style>
<div class="text-center container mx-auto px-1 sm:px-6 mt-8">
  <div class="rounded-lg shadow-md relative p-2 sm:p-10" style="max-width: 45rem; margin: auto;">
    <div class="rounded-lg shadow-md p-4 sm:p-6 mx-auto" style="background-color: rgba(255, 255, 255, 0.8);">
      <br>
      <br>
      <h1><%= t('result_page.title') %></h1>
      <br>
      <p><%= t('result_page.score_text') %> <%= current_user.score %>点</p>
    </div>
  </div>
</div>  