<!-- app/views/home/description.html.erb -->
<br>
<br>
<h1><%= t('homes.description_title') %></h1>
<br>
<br>
<p><%= t('homes.find_documents_message') %></p>
<br>
<p><%= t('homes.answer_questions_message') %></p>
<br>

<%= link_to t('homes.get_started_button'), questions_path, class: 'btn btn-success', style: 'font-size: 25px;' %>