<!-- app/views/home/description.html.erb -->
<br>
<br>
<h1>質問の説明</h1>
<br>
<br>
<p>まずは君の必要な提出書類をみつけるね。</p>
<br>
<p>質問に答えてね！</p>
<br>

<%= link_to '始めよう', questions_path, class: 'btn btn-success', style: 'font-size: 25px;' %>