@import "bootstrap";
  /* application.scss */
  body {
    background-color: #CDFADB !important;
  }

  .btn {
    background-color: #FFCF81; /* 成功の色、必要に応じて調整 */
    color: #000; /* テキストの色 */
    &:hover {
      background-color: #FFEB81; /* ホバー時の背景色、必要に応じて調整 */
    }
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* 任意の余白を追加 */
  }

/* あるいは、margin-topを直接.paginateに指定することもできます */
  .paginate {
    margin-top: 40px; /* 任意の余白を追加 */
  }

  
  /* app/assets/stylesheets/application.css (or application.scss) */

  .question-container {
    text-align: center;
    margin: 20px;
  }

  .options {
    margin-top: 20px;
  }

  label {
    margin-right: 10px;
  }

 /* スタイルを追加 */
   #calendar-container {
    display: flex; /* 要素を横に並べる */
  }

  #calendar {
    width: 100%; /* カレンダーの幅を指定 */
    height: 80%;
    aspect-ratio: 1;
    margin-left: 20px;
    margin-top: 20px;
  }

  #event-list {
    margin-bottom: 20px; /* イベントリストの下マージンを指定 */
  }

  #event-list ul {
    list-style: none; /* リストスタイルをなくす */
    padding: 0;
  }

  #event-list li {
    margin-bottom: 10px; /* イベントリストアイテムのマージンを指定 */
  }

  #event-form {
    margin-bottom: 20px; /* フォームの下マージンを指定 */
  }
  #exam-text {
    padding: 10px;
    font-size: 24px;
  }

/* 選択肢を横並びにするスタイル */
  .horizontal-choices {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

/* 各ボタンのスタイル */
  .choice-button {
    flex: 1; /* 各ボタンの均等な幅にする */
    margin: 0 15px; /* ボタン間の余白を調整 */
    padding: 15px 20px; /* 上下左右の余白を調整 */
    font-size: 30px; /* フォントサイズを調整 */
    cursor: pointer;
    border: 2px solid #333; /* 境界線の色 */
    border-radius: 8px; /* 角丸にする */
    transition: background-color 0.3s ease; /* ホバーエフェクトのスムーズな遷移 */

    &:hover {
      background-color: #add8e6; /* ホバー時の背景色、必要に応じて調整 */
    }
  }
/* 中央に配置するスタイル */
  .button-container {
    display: flex;
    justify-content: center;
    height: 100vh; /* ビューポートの高さいっぱいに広がるようにする */
  }

  .custom-h1 {
    font-size: 36px; /* 必要に応じてサイズを調整 */
  }

/* p タグのスタイル */
  .custom-p {
    font-size: 28px; /* 必要に応じてサイズを調整 */
  }

  .large-text-list {
    font-size: 25px; /* 任意の大きさに調整 */
  /* 他のスタイルも必要に応じて追加 */
  }
  
  .custom-h2 {
    position: relative;
    display: inline-block;
    padding: 0 65px;
    text-align: center;
  }
  
  .custom-h2:before,
  .custom-h2:after {
    position: absolute;
    top: calc(50% - 3px);
    width: 50px;
    height: 6px;
    content: '';
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
  }
  
  .custom-h2:before {
    left: 0;
  }
  
  .custom-h2:after {
    right: 0;
  }

  .mb-10 {
    margin-bottom: 2.5rem;
  }
  .mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  .py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .p-6{
    padding: 1.5rem;
  }
  .rounded-lg{
    border-radius: 0.5rem;
  }
  .shadow-xl {
    --tw-shadow: 0 20px 25px -5px #0000001a,0 8px 10px -6px #0000001a;
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);
  }
  .bg-gray-light {
    background-color: #E5E7EB; /* 薄いグレーの色コード */
  }
  .subtitle {
    font-size: 1.2em;
    color: #666; /* カジュアルな色に調整 */
    margin-top: 30px; /* 適切なマージンを追加 */
  }